.product-box .product-img {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.product-box .product-img .product-img-link {
  display: block;
}

.product-box .product-img img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.product-box .product-img .product-badge-left, .product-box .product-img .product-badge-right {
  position: absolute;
  top: 16px;
  z-index: 2;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.4);
  padding: 8px 11px;
  border-radius: 40px;
  font: 500 12px "Poppins", sans-serif;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-box .product-img .product-badge-left *, .product-box .product-img .product-badge-right * {
  color: #fff;
}

.product-box .product-img .product-badge-left h1, .product-box .product-img .product-badge-left h2, .product-box .product-img .product-badge-left h3, .product-box .product-img .product-badge-left h4, .product-box .product-img .product-badge-left h5, .product-box .product-img .product-badge-left h6, .product-box .product-img .product-badge-right h1, .product-box .product-img .product-badge-right h2, .product-box .product-img .product-badge-right h3, .product-box .product-img .product-badge-right h4, .product-box .product-img .product-badge-right h5, .product-box .product-img .product-badge-right h6 {
  margin: 0;
}

.product-box .product-img .product-badge-left.red, .product-box .product-img .product-badge-right.red {
  background: #c62f3e;
}

.product-box .product-img .product-badge-left.green, .product-box .product-img .product-badge-right.green {
  background: #24963e;
}

.product-box .product-img .product-badge-left {
  left: 16px;
}

.product-box .product-img .product-badge-right {
  right: 16px;
}

.product-box .product-img .add-to-cart {
  position: absolute;
  right: 16px;
  bottom: 16px;
  left: 16px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  padding: 16px;
  text-align: center;
  -webkit-transition: ease-out 0.16s;
  transition: ease-out 0.16s;
}

.product-box .product-img .add-to-cart a:not([class*=' button']):not([class^='button']) {
  color: #7C7C7C;
  font: 500 13px "Poppins", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-box .product-img .add-to-cart a:not([class*=' button']):not([class^='button']):hover, .product-box .product-img .add-to-cart a:not([class*=' button']):not([class^='button']):focus {
  color: #131517;
}

.product-box .product-img:hover img, .product-box .product-img:focus img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

.product-box .product-img:hover .add-to-cart, .product-box .product-img:focus .add-to-cart {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.product-box .product-title {
  position: relative;
  padding: 24px 0 20px;
}

.product-box .product-title h1, .product-box .product-title h2, .product-box .product-title h3, .product-box .product-title h4, .product-box .product-title h5, .product-box .product-title h6 {
  margin-bottom: 4px;
  line-height: 1.4;
}

.product-box .product-title .price span {
  display: inline-block;
}

.product-box .product-title .price del {
  opacity: 0.7;
  margin-right: 4px;
}

.product-box .product-title .price ins {
  text-decoration: none;
}

.product-carousel-thumbnails {
  padding: 6px 0 0;
}

.product-carousel-thumbnails li {
  list-style-type: none;
  display: inline-block;
  margin-right: 2px;
}

.product-carousel-thumbnails li a {
  display: inline-block;
  opacity: 0.6;
  -webkit-transition: ease-out 0.16s;
  transition: ease-out 0.16s;
}

.product-carousel-thumbnails li a img {
  max-width: 100px;
}

.product-carousel-thumbnails li a:hover {
  opacity: 1;
}

.product-price del {
  opacity: 0.7;
  margin-right: 8px;
}

.product-price ins {
  text-decoration: none;
}

.product-quantity .qnt {
  position: relative;
  display: inline-block;
  width: auto;
  margin-right: 30px;
}

.product-quantity .qnt input {
  width: 100px;
  height: 34px;
  border: 0;
  padding: 0;
  text-align: center;
}

.product-quantity .qnt input::-webkit-outer-spin-button, .product-quantity .qnt input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

.product-quantity .qnt input[type=number] {
  -moz-appearance: textfield;
}

.product-quantity .qnt .dec, .product-quantity .qnt .inc {
  position: absolute;
  top: 0;
  background: #eff2f5;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  color: transparent;
  text-align: center;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}

.product-quantity .qnt .dec:before, .product-quantity .qnt .inc:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #131517;
  width: 11px;
  height: 1px;
}

.product-quantity .qnt .dec:hover, .product-quantity .qnt .inc:hover {
  background: #e5e8eb;
}

.product-quantity .qnt .dec {
  left: 0;
}

.product-quantity .qnt .inc {
  right: 0;
}

.product-quantity .qnt .inc:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #131517;
  width: 1px;
  height: 11px;
}

.product-info-box {
  border: 1px solid #e3e6e9;
  padding: 40px;
}

@media (max-width: 991.98px) {
  .product-info-box {
    padding: 30px;
  }
}

.product-info-box .nav {
  justify-content: center;
  margin: 0 -15px 30px;
}

.product-info-box .nav .nav-item {
  margin: 0 15px;
}

.product-info-box .nav .nav-item .nav-link {
  position: relative;
  padding: 0 0 1px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.2px;
}

.product-info-box .nav .nav-item .nav-link:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #131517;
  height: 1px;
  -webkit-transition: ease-out 0.24s;
  transition: ease-out 0.24s;
  -webkit-animation: button-line-out 0.24s ease-out both;
  animation: button-line-out 0.24s ease-out both;
}

.product-info-box .nav .nav-item .nav-link.active {
  color: #131517;
}

.product-info-box .nav .nav-item .nav-link.active:before {
  width: 100%;
  -webkit-animation: button-line-in 0.24s ease-out both;
  animation: button-line-in 0.24s ease-out both;
}

.product-info-box .table {
  margin: 0;
  border-collapse: separate;
  border-spacing: 0;
  border: 0;
  font-size: 15px;
}

.product-info-box .table tr:first-child th, .product-info-box .table tr:first-child td {
  border: 0;
}

.product-info-box .table th, .product-info-box .table td {
  border-top: 1px solid #e3e6e9;
  padding: 14px 20px 14px 0;
}

.product-info-box .table th {
  font-weight: 400;
}

.product-info-box .table td {
  color: #7C7C7C;
}